---
import mockAsesorias from '../../data/mock-asesorias.json';
const { params } = Astro;
const asesoria = mockAsesorias.find(a => a.id === params.id);
---
<html lang="es">
  <head><title>{asesoria.titulo}</title></head>
  <body class="p-6">
    <h1>{asesoria.titulo}</h1>
    <p>{asesoria.descripcion}</p>
    <p>Autor: {asesoria.usuario.nombre}</p>
  </body>
</html>